*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-color: #093545!important;
}
.bg .placeholder{
    color: white !important;
}

.titre{
    color: #093545!important;
}
.titre h1{
    font-size: 60px;
}
.gérer{
   display: flex;
   justify-content: flex-end;
}
.contenu {
    background: #093545;
    width: 100%;
    height: 100vh;
    border-radius: 0 20% 20% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 990px){
    .contenu{
        display: none;
    }
    .that{
        display: none;
    }
    .para {
        color: #224957 ;
        font-weight: bold ;
        padding-right: 20%;
        background: #20DF7F;
        border: none;
    }
}
@media screen and (max-width: 990px){
    .that{
        display: none;
    }
}
.conte {
    background: #093545;
    width: 100%;
    height: 100vh;
    border-radius: 0 20% 20% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media  (max-width: 990px){
    .fewnu{
        display: none;
    }
}
.fewnu{
    background: #093545;
    width: 100%;
    height: 100vh;
    border-radius: 0 20% 20% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
::placeholder{
    color: white !important;
}
.para{
    color: #224957 !important;
    font-weight: bold !important;
    padding-left: 40% !important;
    padding-right: 40% !important;
    background: #20DF7F !important;
    border: none !important;
}
.ra{
    background: #20DF7F !important;
    border: none !important;
    color: #224957 !important;
}
.raga{
    background: #20DF7F !important;
    border: none !important;
    border-radius: 3% !important;
    color: #093545!important;
    padding-left: 20% !important;
    padding-right: 20% !important;
}
