*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #ededee;
	font-family: Montserrat;
/*	font-weight: bold;*/
}
#nav ul li{
	list-style-type: none;
	padding-left: 1rem;
}
a{
	text-decoration: none;
}
.nav-link-items{
	font-size: 17px;
}
.nav-param_link-items{
	font-size: 15px;
}
.sidebar{
	background-color: #093545;
}
.dropdown .dropdown-menu li:hover{
	background-color: transparent;
}
.dropdown .dropdown-menu li{
	padding-left: 0.2rem;
}
#nav ul li:active, .dropdown .dropdown-menu li:active{
	background-color: #20df7f;
	border-left: 0.2rem solid white;
	padding-left: 0.8rem;
}


.dropdown .dropdown-menu{
	color: white;
	overflow: hidden;
	background-color: transparent;
}

#header{
	box-shadow: 0 0 8px 0.7px;
}
#header-btn-down{
	background-color: transparent;
}

#badge{
	top: 20%;
	width: 25px;
	height: 25px;
	font-size: 10px;
	background-color: #20df7f;
	border: 2px solid white;
}

@media screen and (max-width: 1000px){
	#nav ul li{
		padding-left: 0.1rem;
	}
	.nav-link-items{
		font-size: 15px;
	}
	.nav-param_link-items{
		font-size: 14px;
	}
}

@media screen and (max-width: 650px){
	.nav-link-items{
		font-size: 13px;
		display: none;
	}
}